*{
	/* font-family: 'Anton', sans-serif; */
}
p{
	font-weight:normal;
}
.container-content {
    background-color: #4e5d6c;
}
.jumbotron{
	background-color:#0B2F63;
	color: white;
	margin-bottom:0;
}
.glyphicon-heading {
    font-size: 3em;
}

#cSharp {
    height: 160px;
    width: 160px;
    background-color: transparent;
    /*background-color: #4E5D6C;*/
    text-align: right;
    vertical-align: bottom;
    font-size: 150px;
    line-height: 150px;
    font-family: Calibri;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.topic {
    transition: ease all 0.3s;
    background-color: rgba(0,0,0,0.4) !important;
}

    .topic:hover, .topic:active {
        /*transform: scale(1.15);*/
        box-shadow: 0px 0px 10px white;
        background-color: rgba(0,0,0,0.6) !important;
    }

.topicContainer {
    margin-bottom: 4%;
}

    .topicContainer h3 {
        height: 50px;
        width: auto;
        background-color: transparent;
        text-align: center;
        color:white;
        font-size: 30px;
        line-height: 45px;
        font-family: Calibri;
        font-weight: bold;
        display: block;
        border: 2px solid white;
    }

.contentAlt {
    background-color: #0B2F63;
}

#snippetsDiv, #findMeDiv {
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    height: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#snippetsDiv {
    background-image: url('../assets/images/canstockphoto24502868.jpg');
}

#findMeDiv {
    background-image: url('../assets/images/canstockphoto615505.jpg');
}

    /*#findMe .topicContainer {
        border: 2px solid white;
    }*/

.lightHeading {
	color:white;
    text-shadow: 3px 0px 2px #000;
}

.panel{
    border:2px solid white;
}

/*HOME PAGE INTERACTIVES*/
#moreNutshell{
	display:none;
}